<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pruebas.com.pfc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PFC"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VerCategorias"
            android:exported="false"
            android:label="@string/Categorias"/>

        <activity
            android:name=".DetallesPedidos"
            android:exported="false"
            android:label="@string/DetallesPedido"/>

        <activity
            android:name=".CambiarPasswd"
            android:exported="false"/>
        <activity
            android:name=".PlatosDeCategorias"
            android:exported="false"
            android:label="@string/PlatosCategoria"/>
        <activity
            android:name=".VerPlatos"
            android:exported="false"
            android:label="@string/VerPlatos"/>

        <activity
            android:name=".InicioSesion"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/Garmoxu"/>

        <activity
            android:name=".MenuMain"
            android:exported="true"
            android:label="Garmoxu"
            android:theme="@style/Theme.PFC.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>